<header>
  <div class="center minimum">
    <div class="middle">
        <div style="float:left"><b>(</b><strong>Antonio Bottelier</strong><b> ) developer</b></div>
        <div class="buttons">
            <a class="waves-effect waves-light" id="menub" routerLink="/"><span>Home</span></a>
            <a class="waves-effect waves-light" id="menub" routerLink="/about"><span>About</span></a>
            <a class="waves-effect waves-light" id="menub" routerLink="/projects"><span>Projects</span></a>
            <a class="waves-effect waves-light" id="menub" routerLink="/contact"><span>Contact</span></a>
        </div>
    </div>
  </div>
</header>