<div class="icons">
  <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-4" target="_blank" href="https://github.com/stepperman"><i class="fab fa-github"></i></a>
  <a class="btn-floating btn-large waves-effect waves-light light-blue darken-3"><i class="fab fa-linkedin-in"></i></a>
  <a class="btn-floating btn-large waves-effect waves-light light-blue accent-2"><i class="fab fa-twitter"></i></a>
</div>

<header>
  <div class="center minimum">
    <div class="middle">
        <div style="float:left"><strong>Antonio Bottelier</strong></div>
        <div class="buttons">
            <a class="waves-effect waves-light" id="menub" routerLink="/"><span>Home</span></a>
            <a class="waves-effect waves-light" id="menub" routerLink="/about"><span>About</span></a>
            <a class="waves-effect waves-light" id="menub" routerLink="/projects"><span>Projects</span></a>
        </div>
    </div>
  </div>
</header>