.about {
    background-color: #35273b;
    color:white;
    border-radius: 4px;
    text-align:left;
    margin:20px auto;
    padding: 20px;
    height:auto;
    padding-bottom:5px;
    margin-bottom: 20px;
    width:60%;

    div {
        font-size: 1.1rem;
        margin: 20px;
        font-weight:200;
        width:60%;
        color:white;
    }

    ::ng-deep h1{
        margin: 2px;
        padding: 2px;
    }
    img {
        float:right;
        width:40%;
        margin: 10px;
    }
}