<div (mousedown)="closeProject($event)" hidden id="projectlist">
    <div onclick="javascript:void(0)" class="infoclosed" id="projectlistwrapper">
        <div id="info_video">
            <video loop autoplay muted>
              <source src="assets/img/{{currentProject.videoLink}}"/>
            </video>
        </div>
        <div id="info_description" [innerHTML]="currentProject.parsedmarkdown || loading | keepHTML">
        </div>

        <div id="info_other">

            <h5>Info</h5>

            <table class="striped">
                <tbody>
                  <tr *ngFor="let key of objectKeys(currentProject.info)">
                    <th>{{key}}</th>
                    <th>{{currentProject.info[key]}}</th>
                  </tr>
              </tbody>
            </table>
        </div>

        <div id="info_links">
            <h5>Links</h5>
            <a target="_blank" *ngFor="let link of objectKeys(currentProject.links)" href="{{currentProject.links[link]}}" class="waves-effect grey darken-3 waves-light btn">
              {{link}} <i class="fab right fa-{{link}}"></i>
            </a>
        </div>
    </div>
</div>

<div class="wrapper projects">
  <div *ngFor="let project of projects" class="actualproject">
    <div id="project" class="project">
        <div id="projectleft" (mouseenter)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
            <div class="projectimagewrapper">
                <img class="projectimage" src="assets/img/{{project.imageLink}}"/>
            </div>

            <div class="projectvideo">
                <video muted loop>
                    <source src="assets/img/{{project.videoLink}}"/>
                </video>
            </div>
        </div>

        <div id="projectright">
            <h2 id="title">{{project.title}}</h2>

            <p id="description" [innerHTML]="project.description | keepHTML"></p>

            <div id="taglist">
                <span data-badge-caption="" *ngFor="let tag of project.tags" id="tags" class="new badge">{{tag}}</span>
            </div>

            <a id="button" (click)="openProject(project)" style="bottom:1em;right:1em;position:absolute" class="waves-effect waves-light btn"><i class="material-icons right">chevron_right</i>Read more</a>
        </div>
    </div>
  </div>
</div>