.project {
    width:886px;
    height: 382px;
    max-height: 382px;
    display:block;
    position:absolute;
    margin: 15px;
    overflow:hidden;
    outline: 1px solid transparent;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
    background-color: #383838;
    background-color: #35273b;
}

.projectvideo, .projectimage {
    width:100%;
    max-width:100%;
    height: 382px;
    max-height: 382px;
}

.projectvideo > video {
    object-fit: fill;
    width:100%;
    max-width:100%;
    height: 382px;
    max-height: 382px;

}

#projectright {
    width:40%;
    float:right;
    text-align:left;
    padding:0 1em;
    position:relative;
    height:100%;
}

#projectright > h2 {
    color:white;
    font-size:3em;
    text-align:center;
}

.project:hover > .projectimagewrapper {
    top: calc(-100% - 10px);
    transition:0.2s;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    opacity:0;
}

.projectimagewrapper {
    position:absolute;
    top:0;
    opacity:1;
    transition:0.2s;
    height:100%;
    width:100%;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

#projectlist {
    background-color: rgba(1,1,1,0.4);
    height:100%;
    width:100%;
    margin:0 auto;
    position:fixed;
    z-index:50;
    overflow-y: scroll;
    top:0;
}

#projectlistwrapper {
    width: 60%;
    max-width:900px;
    z-index:60;
    position:relative;
    margin: 20px auto;
    padding:20px;
    height:auto;
    min-height:100%;
    background-color: #e6e6e6;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.9);
    border-radius: 20px;
    overflow:hidden;
}

#description {
    color:white;
    font-size:1.1em;
}

tag::after {
    content: "";
}

#info_video {
    overflow:hidden;
    width:105%;
    height:400px;
    position:relative;
    margin: -20px;
    margin-bottom:10px;
}

#info_video > video {
    object-fit: fill;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    width:100%;
}

#info_description {
    width:50%;
    float:left;

    ::ng-deep p {
        font-size:16px !important;
    }

     ::ng-deep h1 {
        font-size: 32px !important;
    }

     ::ng-deep h2 {
        font-size:30px  !important;
    }

     ::ng-deep h3 {
        font-size:28px  !important;
    }

     ::ng-deep h4 {
        font-size:26px !important;
    }

     ::ng-deep h6 {
        font-size:14px !important;
        color:grey;
    }

     ::ng-deep ul  {
        list-style: circle;
        padding-left:40px;
    }

    ::ng-deep li {
        list-style: circle;
    }
}

code {
    background-color: #dad7d2;
}

#info_other {
    margin-top:42px;
    float:right;
    width:300px;
}

#info_links {
    float:right;
    width:300px;
    margin-top:20px;

    a {
        display:block;
        margin:2px;

        i {
            position:absolute;
        }
    }
}

#taglist {
    float:left;
    position:absolute;
    bottom:0;left:0;
    padding:20px;
    width:60%;
    height:25%;
}

.icons {
    position:fixed;
    bottom:0em;
    right:0em;
    display:block;
}

.icons a {
    display:block;
    margin:10px;
}

.infoclosed {
    transform: scale(0.8);
    margin-top:-10% !important;
    transition: 0.25s;
    opacity: 0;
}

.infoopened {
    transform: scale(1);
    transition: 0.25s;
    opacity: 1;
}

span.badge.new {
    float: unset;
    padding:0 6px;
    margin:2px;
    display:inline-block;
}

#filter {
    width:432px;
    right:-2%;
    position:absolute;
    z-index:1;
}

#filtercheckboxes {
    z-index:2;
}

label {
    color:white !important;
}

.infoclosed {
    transform: scale(0.8);
    margin-top:-10% !important;
    transition: 0.25s;
    opacity: 0;
}

.infoopened {
    transform: scale(1);
    transition: 0.25s;
    opacity: 1;
}

.actualproject {
    height: 382px;
    transition: height 0.5s;
    overflow: visible;
    position:relative;
    margin: 0.5em;
}

.actualproject.hidden {
    height:0;
    overflow: hidden !important;
    transition: height 0.5s hidden 0 0.5s;
}

#projectleft {
    float:left;
    width:60%;
    position:relative;
}

.floatright {
    position:relative;
    float:right;
    width: 230px;
    height: 200px;
}

.floatright > p{
    margin-right:10px;
    color:black;
    text-align:right;
}

.floatright > svg {
    position:absolute;
    z-index:-9;
}