.contactoption {
    position:relative;
    width:48%;
    margin: 0.2em 0.5em;
    display:inline-block;
}

.contactwrapper {
    width:100%;
    position:relative;
    text-align:center;
}


a {
    text-align:left;

    span {
        display:inline-block;
        position:absolute;
        top:0;
        left:0;
        font-weight:600;
        width: 100%;
        text-align:center;
    }
}