<div class="wrapper">
  <div class="contactwrapper">
    <a class="contactoption waves-effect waves-light btn-large" href="mailto:antonio3338@gmail.com">
      Email
    </a>

    <a class="contactoption waves-effect waves-light btn-large" href="linkedin.com">
        Linked In
    </a>

    <a class="contactoption waves-effect waves-light btn-large" href="twitter.com">
        Twitter
    </a>

    <a class="contactoption waves-effect waves-light btn-large" href="github.com">
        Github
    </a>
  </div>
</div>