<div class="wrapper">
  <div class="contactwrapper">
    <a class="contactoption waves-effect waves-light btn-large " href="mailto:antonio3338@gmail.com">
        <i class="fas fa-envelope"></i> <span>Email</span>
    </a>

    <a class="contactoption waves-effect waves-light btn-large light-blue darken-3" href="https://www.linkedin.com/in/antonio-bottelier-1269ab150/">
        <i class="fab fa-linkedin"></i> <span>Linked In</span>
    </a>

    <a class="contactoption waves-effect waves-light btn-large light-blue accent-2" href="https://twitter.com/a_bottelier">
        <i class="fab fa-twitter"></i> <span>Twitter</span>
    </a>

    <a class="contactoption waves-effect waves-light btn-large blue-grey darken-4" href="https://github.com/stepperman">
        <i class="fab fa-github"></i> <span>Github</span>
    </a>
  </div>
</div>