div {
    float:right;
    position:absolute;
    top:2px;
    right: 0;
}

.card {
    margin-left: 10px;
    padding:5px;
    width: 150px;

    span {
        display: block;
    }
}

.col {
    padding: 10px !important;
}

label {
    text-align:left;
}