<div class="row">
  <div class="col s12 m6">
    <div class="card">

      <span class="card-title">Filters</span>

      <span>Languages</span>
      
      <label (click)="tagClicked($event)">
        <input name="lanugages" type="radio" class="filled-in"/>
        <span>C#</span>
      </label>

      <label (click)="tagClicked($event)">
          <input name="lanugages" type="radio" class="filled-in"/>
          <span>Javascript</span>
      </label>

      <label (click)="tagClicked($event)">
          <input name="lanugages" type="radio" class="filled-in"/>
          <span>C++</span>
      </label>

      <span>Engines</span>

      <label (click)="tagClicked($event)">
          <input name="engines" type="radio" class="filled-in"/>
          <span>Unity</span>
      </label>

      <label (click)="tagClicked($event)">
          <input name="engines" type="radio" class="filled-in"/>
          <span>Gamemaker</span>
      </label>

      <label (click)="tagClicked($event)">
          <input name="engines" type="radio" class="filled-in"/>
          <span>SFML</span>
      </label>

      <span>Type</span>

      <label (click)="tagClicked($event)">
          <input name="type" type="radio" class="filled-in"/>
          <span>School</span>
      </label>

      <label (click)="tagClicked($event)">
          <input name="type" type="radio" class="filled-in"/>
          <span>Personal</span>
      </label>
    </div>
  </div>
</div>
