video {
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    padding: 0;
    margin:0;
    object-fit: cover;
    z-index:0;
}

body, html {
    background-color:black;
    object-fit: fill;
    margin: 0;
    padding:0;
    overflow:hidden;
}

header > * {
    opacity: 0.4;
}

.centerlogo {
    position:absolute;
    top:0;
    width:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
    z-index:1;
               

    p {
        color:white;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
        font-size: 4em;
        max-width:95%;
        text-align:center;
        overflow:hidden;
    }
}